<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Add Branch</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% include "admin/adminnav.html"  %}
    <div class="container">
        <div class="row">
                <form method="post" action="">
                    {% csrf_token %}
                    <h3>Add Branch</h3>
                    <div class="mb-3 col-6">
                      <label for="branchName" class="form-label">Enter Branch Name</label>
                      <input type="text" name="branch-name" class="form-control" id="branch-name">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="branchName" class="form-label">Enter Branch Location</label>
                        <input type="text" name="branch-loc" class="form-control" id="branch-loc">
                      </div>
                    <div class="mb-3 col-6">
                        <label for="email" class="form-label">Manger Email address</label>
                        <input type="email" name="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="contact" class="form-label">Manager Phone number</label>
                        <input type="number" name="contact" class="form-control" id="contact">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>